
{% extends "base.html" %}

{% block app_content %}

<style>
th {text-align: left;}
</style>
<body>

 <h2>Door Schedule</h2> 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Ref');
        data.addColumn('string', 'GUID');
        data.addColumn('string', 'Fire Rating');
        data.addColumn('string', 'Size');
        data.addColumn('string', 'Manufacturer');
        data.addRows([
          {% for data in wall_data.json %}
              ['{{ data[0] }}', '{{ data[1] }}', '{{ data[2] }}', '{{ data[7] }}', '{{ data[9] }}', '{{ data[8] }}'],
          {% endfor %}

        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {alternatingRowStyle: true, showRowNumber: false, width: '80%', height: '60%'});
      }
    </script>
   <div id="table_div"></div>
 
<h3>total doors = {{ total_area }}</h3>


 


 </tbody>
        
{% endblock %}
