{% extends "base.html" %} 
{% block app_content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='three.js') }}"></script>
    <script src="{{ url_for('static', filename='Detector.js') }}"></script>
    <script src="{{ url_for('static', filename='OrbitControls.js') }}"></script>
    <script src="{{ url_for('static', filename='OBJLoader.js') }}"></script>
    <script src="{{ url_for('static', filename='MTLLoader.js') }}"></script>

    <style>
        body {
            overflow: hidden;
            margin: 0;
            padding: 0;
            
        }
    </style>
</head>

<body>

    <div style='display: flex !important; 
    align-items: center !important' class='jumbotron jumbotron.fluid'>
        <div class='container'>
          <div class='row text-center'>
            <p><h2>BIM Toolbox 2</h2></p>
            <p><h3>BIM information</h3></p>
            <a class='btn btn-primary' href="{{ url_for('register') }}" role='button'>Sign up</a>
          </div>
        </div>
        </div>
        </section>

    
        <h3>User name: {{ current_user.username }}</h3>
 
        
    
    <!-- html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; } body { margin: 40; } .outer {
    } .frame { display: flex; width: 100vw; height: 100vh; } .frame* { flex: 1 1 50%; } #editor { font-family: monospace;
    padding: .5em; background: #444; color: white; } canvas { width: 80%; height: 70%; } -->

    <div class="frame">
        <div id="result">
            <canvas>



            </canvas>
        </div>
        <div id="editor">
            <!--<script>
                // The detector will show a warning if the current browser does not support WebGL.
                if (!Detector.webgl) {
                    Detector.addGetWebGLMessage();
                }

                // All of these variables will be needed later, just ignore them for now.
                var container;
                var camera, controls, scene, renderer;
                var lighting, ambient, keyLight, fillLight, backLight;
                var windowHalfX = window.innerWidth / 2;
                var windowHalfY = window.innerHeight / 2;

                init();
                animate();


                function init() {
                    container = document.createElement('div');
                    document.body.appendChild(container);
                    /* Camera */
                    camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);
                    camera.position.z = 3;
                    /* Scene */
                    scene = new THREE.Scene();
                    /* scene.background = new THREE.Color( 0xffffff, 1 ); */
                    lighting = true;
                    ambient = new THREE.AmbientLight(0xffffff, 1.0);
                    scene.add(ambient);
                    /* Model */
                    var mtlLoader = new THREE.MTLLoader();
                    /* mtlLoader.setBaseUrl('assets/'); */
                    /* mtlLoader.setPath('assets/'); */
                    mtlLoader.load("{{ url_for('static', filename='assets/simplebuilding.mtl') }}", function (materials) {
                        materials.preload();
                        var objLoader = new THREE.OBJLoader();
                        objLoader.setMaterials(materials);
                        /* objLoader.setPath('assets/'); */
                        objLoader.load("{{ url_for('static', filename='assets/simplebuilding.obj') }}", function (object) {
                            scene.add(object);
                        });
                    });
                    /* Renderer */
                    renderer = new THREE.WebGLRenderer({ canvas: document.querySelector("canvas") });
                    renderer.setPixelRatio(window.devicePixelRatio);
                    renderer.setSize(window.innerWidth, window.innerHeight);
                    /* renderer.setClearColor(new THREE.Color("hsl(0, 0%, 10%)")); */
                    renderer.setClearColor(0xffffff);
                    container.appendChild(renderer.domElement);
                    /* Controls */
                    controls = new THREE.OrbitControls(camera, renderer.domElement);
                    controls.enableDamping = true;
                    controls.dampingFactor = 0.25;
                    controls.enableRotate = true;
                    controls.rotateSpeed = 1.0;
                    controls.enableZoom = true;
                    controls.enablePan = true;
                    controls.panSpeed = 1.0;
                    controls.screenSpacePanning = false; // if true, pan in screen-space
                    controls.keyPanSpeed = 7.0;	// pixels moved per arrow key push
                    /* Events */
                    window.addEventListener('resize', onWindowResize, false);
                    window.addEventListener('keydown', onKeyboardEvent, false);
                }
                function onWindowResize() {
                    camera.aspect = window.innerWidth / window.innerHeight;
                    camera.updateProjectionMatrix();
                    renderer.setSize(window.innerWidth, window.innerHeight);
                }
                function onKeyboardEvent(e) {
                    if (e.code === 'KeyL') {
                        lighting = !lighting;
                        if (lighting) {
                            ambient.intensity = 0.25;
                            scene.add(keyLight);
                            scene.add(fillLight);
                            scene.add(backLight);
                        } else {
                            ambient.intensity = 1.0;
                            scene.remove(keyLight);
                            scene.remove(fillLight);
                            scene.remove(backLight);
                        }
                    }
                }
                function animate() {
                    requestAnimationFrame(animate);
                    controls.update();
                    render();
                }
                function render() {
                    renderer.render(scene, camera);
                }

            </script> -->
        </div>
    </div>


</body>
{% endblock %}