{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div>
        <p></p>
    <a class='btn btn-primary' href="{{ url_for('register') }}" role='button'>Sign up</a></div>

    {% endblock %}