{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}


<body>
    <h1>Wall Areas</h1>




<script type="text/javascript" src="//www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="xlg3m0jkv3zde6w">
<script type="text/javascript">

function doit() {
var button = Dropbox.createChooseButton({
    // Required. Called when a user selects an item in the Chooser.
    success: function(files) {
        window.open(files[0].link, "_blank", "top:200,left:10,width:400,height:400"); 
        document.body.innerHTML += "<img src='" + files[0].thumbnailLink + "' title=I />";
        // alert("Here's the file link: " + files[0].link)
    },

    // Optional. Called when the user closes the dialog without selecting a file
    // and does not include any parameters.
    cancel: function() {
    },

    // Optional. "preview" (default) is a preview link to the document for sharing,
    // "direct" is an expiring link to download the contents of the file. For more
    // information about link types, see Link types below.
    linkType: "direct", // or "direct"

    // Optional. A value of false (default) limits selection to a single file, while
    // true enables multiple file selection.
    multiselect: false, // or true

    // Optional. This is a list of file extensions. If specified, the user will
    // only be able to select files with these extensions. You may also specify
    // file types, such as "video" or "images" in the list. For more information,
    // see File types below. By default, all extensions are allowed.
    extensions: ['.pdf', '.doc', '.docx'], //, '.jpg'],
});
var c=document.getElementById("container"); c.appendChild(button); 
var para = document.createElement("p"); var t = document.createTextNode('\u00A0'); para.appendChild(t); c.appendChild(para);
}
</script>

<div id="container"></div>
<a id="link"></a>

<script>
var button = Dropbox.createChooseButton({
success: function(files) {
var linkTag = document.getElementById('link');
linkTag.href = files[0].link;
linkTag.textContent = files[0].link;
},
linkType: 'direct',
multiselect: false
});
document.getElementById('container').appendChild(button);
</script>




    {% for service in services %}
    <div><p>{{ service.number }}: <b>{{ service.description }}</b></p></div>
    {% endfor %}
    <h1>Wall selection</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

  
</body>
{% endblock %}